/* @import "default-theme.css";  */

body,html {
    margin: 0;
    padding: 0;
    color: var(--font-color); 
    font-family: var(--font-family);
    font-size: var(--font-medium);
} 




.week-day{
    width:calc(20% - 6px);
    margin: 3px;
    border: 1px solid #CCC;
    float: left;
}

.current-info li, .future-info li {
    list-style-type: none;
    margin: 15px;
}

@media screen and (max-width: 1024px) {
    .week-day{
        width:calc(33.33% - 10px);
        margin: 5px;
        border: 1px solid #CCC;
    }
}

@media screen and (max-width: 768px) {
    .week-day{
        width:calc(50% - 10px);
        margin: 5px;
        border: 1px solid #CCC;
    }
}

@media screen and (max-width: 360px) {
    .week-day{
        width:calc(100% - 10px);
        margin: 5px;
        border: 1px solid #CCC;
    }
}

.future-info{
    padding: 0;
}

.future-info li{
    margin-top: 3px;
    margin-bottom: 3px;
}

.list-group-item{
    cursor: pointer;
}